<%- include('../../shared/includes/head', { pageTitle: 'Succcess!' }) %>

</head>

<body>
   
  <%- include('../../shared/includes/header') %>
    <main>
        <h1>Orders was Successful!</h1>
        <p>You can visit <a href="/orders">the orders page</a>for more details</p>
    </main>
  <%- include('../../shared/includes/footer') %>